$border-size: 1px;
$border-color-opacity: 30;

.root {
  @apply w-full;

  .main {
    @apply relative;
    @apply flex flex-col;
    @apply rounded;
    @apply shadow;
    @apply border-[#{$border-size}];
    @apply border-base-content/#{$border-color-opacity};
    @apply bg-base-200;

    .body {
      @apply flex flex-col;
      @apply font-normal;
      @apply p-4;
      @apply space-y-4;

      .actions {
        @apply flex flex-row flex-nowrap justify-end;
        @apply gap-2;

        .error {
          @apply flex-grow;
          @apply pl-2;
          @apply text-sm text-error;

          &:not(&[data-error]) {
            @apply hidden;
          }
        }
      }
    }

    .line {
      @apply border-t-[#{$border-size}];
      @apply border-base-content/#{$border-color-opacity};
    }
  }
}

.text {
  @apply flex flex-col;
  @apply w-full;
  @apply space-y-1;
  @apply select-none;

  @media (hover:hover) {
    a:hover {
      @apply text-base-content;
    }
  }

  @mixin textCommon {
    @apply flex justify-between items-center;
    @apply pl-0.5 py-0;
  }

  .textTop {
    @include textCommon;
    @apply text-sm text-base-content;
  }

  .textBottom {
    @include textCommon;
    @apply text-xs text-base-content/70;
  }
}
