.root {
  @apply container m-auto;
  @apply lg:max-w-5xl;
  @apply flex flex-col;
  @apply sm:mt-2;
  @apply sm:space-y-4;

  .tier {
    @apply osom-badge osom-badge-primary;
    //@apply badge-sm
    @apply ml-2;
  }

  .header {
    @apply hidden;
    @apply sm:flex sm:flex-row items-center justify-between;
    @apply sm:h-16;
    @apply px-2;

    .headerProfile {
      @apply flex flex-row;

      svg {
        @apply w-14 h-14;
        @apply mr-4;
      }

      .profileInfo {
        @apply flex flex-col;
        @apply space-y-1;

        h2 {
          @apply font-bold text-xl text-base-content;
        }

        p {
          @apply font-normal text-sm;
        }
      }
    }

    .headerLink {
      @apply osom-btn osom-btn-outline;
      //@apply btn-sm;
    }
  }

  .main {
    @apply flex flex-row;
    @apply space-x-6;

    .navi {
      ul {
        @apply osom-menu osom-menu-vertical;
        @apply sm:w-48;
        @apply bg-base-200;
        @apply rounded-br-box;
        @apply sm:rounded-box;

        li {
          @apply max-sm:osom-tooltip;
          //@apply max-sm:osom-tooltip-right;

          [data-active=true] {
            @apply bg-neutral;
            @apply text-neutral-content;
          }

          svg {
            @apply w-5 h-5;
          }

          span {
            @apply hidden;
            @apply sm:block;
          }
        }
      }
    }

    .content {
      @apply flex-grow;
    }
  }
}
