<div style="text-align: center; width: 100%; background-color: #191e24;">
  <div style="padding-top: 2rem; padding-bottom: 2rem;">
    <a href="{{ .SiteURL }}" style="text-decoration: none;">
      <h1 style="margin: 0; color: #e5e7eb;">osom.run</h1>
    </a>
  </div>
  <hr style="margin: 0;"/>
  <div style="padding-top: 2rem; padding-bottom: 2rem; color: #a6adbb;">
    <h2 style="margin: 0;">Confirm Change of Email</h2>
    <p style="margin: 1rem;">
      Follow this link to confirm the update of your email from {{ .Email }} to {{ .NewEmail }}
    </p>
    <a href="{{ .ConfirmationURL }}">Change Email</a>
  </div>
</div>