$menu-side-width: 12rem;

@mixin hide-scrollbar {
  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    @apply hidden;
  }

  /* IE, Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

.body {
  @include hide-scrollbar;
  @apply overflow-hidden;

  @apply h-screen;
  @apply w-screen;

  @apply p-0;
  @apply m-0;
}

.content {
  @apply flex flex-row;
}

.menuSide {
  @apply hidden;
  @apply sm:block;

  @apply h-screen;
  @apply w-[#{$menu-side-width}];
  @apply min-w-[#{$menu-side-width}];
  @apply max-w-[#{$menu-side-width}];

  @apply bg-base-200;

  ul {
    @apply menu menu-sm menu-vertical;
    @apply p-1;

    li {
      @apply tooltip;
      @apply tooltip-right;

      [data-active=true] {
        @apply bg-neutral;
        @apply text-neutral-content;
      }

      svg {
        @apply w-5 h-5;
      }

      span {
        @apply block;
      }
    }
  }
}

.contentMain {
  @apply flex-grow;
  @apply h-screen;
  @apply w-full;
  @apply overflow-auto;

  & > header {
    @apply sticky;
    @apply top-0;

    @apply h-osom-header;
    @apply w-full;

    @apply m-0;
    @apply py-2 px-3 sm:p-1;
    @apply z-10;

    svg {
      @apply w-8 h-8;
      @apply sm:w-6 sm:h-6;
    }
  }

  & > main {
    @apply h-osom-main;
    @apply w-full;

    @apply m-0;
    @apply p-0;
    @apply z-0;
  }
}

.headerLayout {
  @apply flex-1;
  @apply flex flex-row;
  @apply justify-between items-center;
  @apply flex-nowrap;
}

.headerLeft {
  @apply flex flex-row;
  @apply items-center;
  @apply space-x-2;
}

.headerCenter {
  @apply flex-1;
  @apply flex flex-row;
}

.headerRight {
  @apply flex flex-row;
  @apply items-center;
  @apply space-x-2;
}

.logoBox {
  @apply flex justify-center items-center;
  @apply m-0 p-0;

  a {
    @apply w-24;

    svg {
      @apply w-full;
    }
  }
}

.menuOverlay {
  @apply min-h-full;
  @apply w-9/12;
  @apply bg-base-200;

  ul {
    @apply menu menu-vertical;
    @apply p-1;

    li {
      [data-active=true] {
        @apply bg-neutral;
        @apply text-neutral-content;
      }

      svg {
        @apply w-6 h-6;
      }

      span {
        @apply block;
      }
    }
  }
}
