$gradient-start: base-content;
$gradient-via: base-content/90;
$gradient-end: base-content/80;

.root {
  @apply container mx-auto;
  @apply max-w-screen-xl;
  @apply px-4 py-32;

  @screen lg {
    @apply flex items-center;
    @apply h-osom-main;
  }

  .centerBox {
    @apply text-center;
    @apply max-w-3xl;
    @apply mx-auto;
    @apply space-y-4;

    .logoBox {
      @apply flex justify-center items-center;
      @apply w-full;
      @apply space-x-2;

      a {
        @apply w-28;

        svg {
          @apply w-full;
        }
      }
    }

    .titleBox {
      @apply font-extrabold text-3xl;

      @apply bg-gradient-to-b;
      @apply from-#{$gradient-start};
      @apply via-#{$gradient-via};
      @apply to-#{$gradient-end};

      @apply bg-clip-text;
      @apply text-transparent;

      h2 {
        @apply text-3xl sm:text-5xl;
      }
    }

    .detailBox {
      @apply mx-auto;
      @apply max-w-xl;
      @apply font-normal sm:font-medium;
      @apply text-base sm:text-lg;
      @apply text-base-content/70;
    }

    .featureBox {
      @apply flex justify-center;
      @apply w-full;
      @apply text-base-content/60;
      @apply py-4 sm:py-8;

      .featureIcon {
        @apply flex flex-col justify-center items-center;
        @apply tooltip;

        svg {
          @apply w-7 h-7;
          @apply text-base-content/50;
        }
      }
    }

    .actions {
      @apply flex flex-wrap justify-center items-center;
      @apply flex-col sm:flex-row;
      @apply gap-4;
      @apply text-sm font-medium;

      a {
        @apply w-full sm:max-w-sm;
        @apply min-w-max;
      }
    }
  }
}
