$gradient-start: base-content;
$gradient-via: base-content/90;
$gradient-end: base-content/80;

$divider-start: base-content/0;
$divider-via: base-content/60;
$divider-end: base-content/0;

.root {
  @apply container mx-auto;
  @apply max-w-screen-xl;
  @apply px-4 py-32;

  @screen lg {
    @apply flex items-center;
    //@apply h-osom-main;
    height: calc(100vh - 3rem);
  }

  .centerBox {
    @apply text-center;
    @apply max-w-3xl;
    @apply mx-auto;
    @apply w-full;

    .dividerLine {
      @apply hidden;

      @apply my-0 p-0;
      @apply w-full h-px;

      @apply bg-gradient-to-r;
      @apply from-#{$divider-start};
      @apply via-#{$divider-via};
      @apply to-#{$divider-end};
    }

    .logoBox {
      @apply flex justify-center items-center;
      @apply my-4 p-0;
      @apply w-full;
      @apply space-x-2;

      a {
        @apply w-28;

        svg {
          @apply w-full;
        }
      }
    }

    .titleBox {
      @apply font-extrabold text-3xl;
      @apply my-4 p-0;

      @apply bg-gradient-to-b;
      @apply from-#{$gradient-start};
      @apply via-#{$gradient-via};
      @apply to-#{$gradient-end};

      @apply bg-clip-text;
      @apply text-transparent;

      h2 {
        @apply text-5xl;
      }
    }

    .detailBox {
      @apply mb-8 p-0;
      @apply mx-auto;
      @apply max-w-xl;
      @apply font-medium;
      @apply text-lg;
      @apply text-base-content/70;
    }

    .featureBox {
      @apply flex justify-center;
      @apply my-4 p-0;
      @apply w-full;
      @apply text-base-content/60;

      .featureIcon {
        @apply flex flex-col justify-center items-center;
        @apply osom-tooltip;

        svg {
          @apply w-7 h-7;
          @apply text-base-content/50;
        }
      }
    }

    .actions {
      @apply flex flex-wrap justify-center items-center;
      @apply flex-col sm:flex-row;
      @apply mt-8 p-0;
      @apply gap-4;
      @apply text-sm font-medium;

      a {
        @apply w-40 sm:w-52 md:w-64 lg:w-80;
        @apply min-w-max;
      }
    }
  }
}
